<header class="header">
  <figure class="header-splash">
    <img class="header-portrait" alt="self-portrait" src="/assets/pic-me.png" alt="HTML5" />
    <figcaption class="header-text">
      <p>Anthony</p>
      <p>De Vellis</p>
    </figcaption>
  </figure>
</header>