<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="main.css" />
  <title>Anthony.dev</title>
</head>

<body>
  <%- include('includes/header.ejs') %>
  <%- include('includes/nav.ejs') %>
  <main class="container content-main">
    <%- include(`pages/${path}.ejs`) %>
  </main>
  <%- include('includes/footer.ejs') %>
</body>

</html>