<section id="about" class="container">
  <article id="about-me">
    <h4 class="article-header">About Me</h4>
    <hr />
    <br />
    <p class="text-paragraph">
      I'm Anthony. I was raised in Vaughan, ON, the son of Italian immigrants. 
      I enrolled at the University of Waterloo in 2014 in Mechanical Engineering, but learned that my interests and talents belonged elsewhere. 
      I transferred to Computer Engineering because of an affinity for programming and interest in math and logic. 
      Due to extenuating circumstances and a struggle with mental health, I withdrew from engineering late in 2018. 
      I am looking to re-enroll at uWaterloo full-time. 
      For now, I am studying part-time, earning credits toward completing my Computer Engineering degree through Athabasca University and I'm working part-time setting up automated testing for a start-up called SiteVue.
    </p>
    <br />
    <figure class="resume__github-card">
      <a href="https://github.com/Apollonaut-dev?tab=repositories">
        <img src="/assets/GitHub_Logo.png" />
        <figcaption>
          My Github Repositories
        </figcaption>
      </a>
    </figure>
    <br />
    <h3 id="TODO" class="article-subheading">// TODO</h3>
    <p class="text-paragraph">
      I created this website to show people who I am, what I can do, and to give people a convenient way to contact me for business. It aims to be responsive and accessible. The link to the source code for this website and the backend serving it can be found at my GitHub link. I also use it as a personal web-development laboratory. 
      I treat it as a real production environment. This is the second iteration, written using vanilla HTML, CSS and Javascript, templated with EJS, served over a Node/Expess MVC backend and deployed using Amazon Lightsail. 
      In the near future, I will split this into two projects. The backend will become a CMS served via REST API. The frontend will become a component-based webapp, possibly an SPA React app or a custom-built SPA using Svelte.
      Lastly, I will re-deploy with Firebase because Firebase is better-suited to this scale than AWS and its panopoly of cloud service offerings.
    </p>
  </article>
</section>