<section id="section-resume">
  <link rel="stylesheet" type="text/css" href="resume.css" />
  <article id="resume" class="page resume">
    <h2 class="article-header">
      <a class="resume__download-link link"
        href="https://raw.githubusercontent.com/Apollonaut-dev/Resume/4bb33f4bbcb72fc13c8fc70bc1f7511caa796145/main.pdf">
        Download PDF
      </a>
    </h2>
    <a
      href="https://raw.githubusercontent.com/Apollonaut-dev/Resume/4bb33f4bbcb72fc13c8fc70bc1f7511caa796145/main.pdf">
      <picture class="resume__picture">
        <source srcset="https://github.com/Apollonaut-dev/Resume/blob/master/main.webp?raw=true">
        <img class="resume__picture--fallback"
          src="https://github.com/Apollonaut-dev/Resume/blob/master/main.png?raw=true"
          alt="Resume. Click to download" />
      </picture>
    </a>
  </article>
</section>