<section id="section-resume" class="container">
  <link rel="stylesheet" type="text/css" href="resume.css" />
  <article id="resume">
    <br />
    <section id="technical-skills">
      <h3>TECHNICAL SKILLS</h3>
      <hr />
      <br />
      <ul>
        <li>
          <strong>Proficient with: </strong>Javascript (including next-gen features), Express.js, MongoDB, BASh, Firebase (especially Cloud Functions and Realtime DB), AWS Lighsail, HTML/CSS/Javascript and black-box testing with Jest
        </li>
        <li>
          <strong>Backend summary: </strong>Node.js, Express.js, Nodemailer, MongoDB Atlas, PHP, Rails, MySQL, BASh, Firebase (full suite, including testing cloud functions), AWS (Lightsail, R53), Jest, Mocha, Chai, Sinon, Selenium
        </li>
        <li>
          <strong>Frontend summary: </strong>JS DOM, React, jQuery, AJAX, EJS, and semantic HTML5, CSS, some knowledge of Angular, Web Components
        </li>
        <li>
          Created back and front end of personal website with a Node/Express MVC which includes an AJAX-submitted form enabling enhanced validation UX
        </li>
        <li>
          Created a simple REST API to create & signup users using JWT and create, edit, and retrieve mock social media posts
        </li>
        <li>
          Designed, built, and programmed a Lego NXT-based 3-D printed model hand using RobotC and Solidworks
        </li>
        <li>
          Experience in ARM, C/C++, Python, Java through academic and start-up projects
        </li>
        <li>
          Well-versed in Object Oriented Programming principles
        </li>
        <li>
          Working knowledge of algorithmic scalability and system resource considerations
        </li>
        <li>
          Familiar with workspace GNU/Linux CLI utilities such as gcc/g++ compilers, gdb debugger, and Git
        </li>
      </ul>
    </section>
    <br />
    <section id="summary-of-skills">
      <h3>SUMMARY OF SKILLS</h3>
      <hr />
      <br />
      <ul>
        <li>
          Collaborative, results-driven team ethic developed by attending to intra- and inter-team goals
        </li>
        <li>
          Communicates effectively in proximity with non-technical teams and team members
        </li>
        <li>
          Attends to business and technical detail to optimize future productivity of all stakeholders
        </li>
        <li>
          Competently manages competing priorities and the interests of conflicting stakeholders
        </li>
        <li>
          Respects time, process, documentation, testing, and ambiguity-resolving oxford commas
        </li>
        <li>
          Thrives on constructive criticism, honesty, and technical dialogue
        </li>
      </ul>
    </section>
    <br />
    <section id="work-experience">
      <h3>WORK EXPERIENCE</h3>
      <hr />
      <br />
      <ul>
        <li>
          <h4>Software Engineer in Test at SiteVue Inc.</h4>
          <h5>Toronto, ON, September 2019 to Present</h5>
          <ul>
            <li>
              Leading the implementation of automated testing across SiteVue's backend
            </li>
            <li>
              Writing unit tests for Firebase Cloud Functions
            </li>
            <li>
              Investigating the future implementation of Test-Driven-Development as a development process for Cloud Functions
            </li>
            <li>
              Teaching team members about testing principles and the Jest testing framework
            </li>
          </ul>
        </li>
        <br />
        <li>
          <h4>Toolroom Assistant at Black and McDonald</h4>
          <h5>Toronto, ON, May 2019 to Present</h5>
          <ul>
            <li>
              Transitioned from paper-based to software-based tool management system
            </li>
            <li>
              Tracked tools coming from and going to job sites
            </li>
            <li>
              Maintained tools and tool room organization
            </li>
            <li>
              Performed data entry relating to tools, certificates and calibration records
            </li>
          </ul>
        </li>
        <br />
        <li>
          <h4>Backend Web Developer at Alert Driving</h4>
          <h5>Toronto, ON, January 2019 to April 2019</h5>
          <ul>
            <li>
              Maintained Moodle Learning Management System to improve productivity of operations and clients
            </li>
            <li>
              Developed and debugged PHP scripts, classes, and pages to satisfy business and operations requirements
            </li>
            <li>
              Created a multipage web form to batdh send templated emails using Moodle, PearForms, Javascript, jQuery
              and AJAX requests, improving the productivity of support teams and clients
            </li>
            <li>
              Wrote custom shell script to improve branching and context-switdhing workflow of fellow team members
            </li>
          </ul>
        </li>
        <br />
        <li>
          <h4>Backend Web Developer at Flipp Corp.</h4>
          <h5>Toronto, ON, May 2016 to August 2016</h5>
          <ul>
            <li>
              Maintained backend Ruby/Rails codebase to minimize day-to-day digital content processing downtime
            </li>
            <li>
              Wrote custom parser to convert product information from merchant’s XML to CSV format
            </li>
            <li>
              Coordinated with Operations Team to prioritize and correct retailer-specific bugs and improve process
            </li>
            <li>
              Explored new automated processes for retailers with the direction of the Business Development Team
            </li>
            <li>
              Developed team-oriented awareness by focusing on team priorities in company-wide context with JIRA
            </li>
            <li>
              Wrote, tested, and maintained webscrapers using Ruby and Selenium
            </li>
          </ul>
        </li>
        <br />
        <li>
          <h4>UW Velocity Co-founder at Guard-Ex Inc.</h4>
          <h5>Waterloo, ON, October 2015 to September 2017</h5>
          <ul>
            <li>
              Created a universal, nonintrusive, roadside, cognitive impairment test
            </li>
            <li>
              Evaluated possible integration of electroencephalography, electromyography, and eye-tracking to determine
              impairment under alcohol, cannabis, and other illegal substances
            </li>
            <li>
              Consulted with Law Enforcement as well as law professionals on both practical testing requirements and the
              legality and human rights compliance of roadside testing
            </li>
          </ul>
        </li>
        <br />
        <li>
          <h4>Assistant QA Inspector at Schweitzer &amp; Conrad Electric</h4>
          <h5>Toronto, ON, May 2015 to August 2015</h5>
          <ul>
            <li>
              Inspected industrial grade electrical switdhes and fuses for mechanical/electrical defects
            </li>
            <li>
              Conducted high potential 20 kV, 35 kV, 50 kV and 100 kV tests on switdhes and disconnects
            </li>
            <li>
              Analyzed electrical and mechanical drawings to determine proper function, form, and customer
              specifications
            </li>
            <li>
              Calibrated precise instruments including micrometers and ohmmeters for use on the production line
            </li>
          </ul>
        </li>
        <br />
        <li>
          <h4>Grocery Clerk at Fab's Nofrills</h4>
          <h5>Vaughan, ON, November 2010 to August 2018</h5>
          <ul>
            <li>
              Organized and maintained product displays
            </li>
            <li>
              Aided customers by finding products, verifying stock, and answering policy questions
            </li>
            <li>
              Rewarded by Franchisee for providing exceptional customer service
            </li>
            <li>
              Trained and oriented new part-time employees in arious departments
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <br />
    <section id="education">
      <h3>EDUCATION</h3>
      <hr />
      <br />
      <table>
        <tr>
          <td><h4>Part-time Student</h4></td>
          <td><h5>Athabasca University, May 2019 to Present</h5></td>
        </tr>
        <tr>
          <td><h4>Candidate for Bachelor of Applied Science, Computer Engineering (Honours) incomplete</h4></td>
          <td><h5>University of Waterloo, January 2016 to December 2018</h5></td>
        </tr>
        <tr>
          <td><h4>Candidate for Bachelor of Applied Science, Mechanical Engineering (Honours) transferred</h4></td>
          <td><h5>University of Waterloo, September 2014 to August 2015</h5></td>
        </tr>
      </table>
      <br />
    </section>
  </article>
</section>