<article class="article blog-post"> 
  <h3 class="article-header">A Practical Egalitarian Alternative to Patrillineal and Matrillineal Family Naming Convention</h3>
  <h4 class="article-subheader">8 June 2019</h4>
  <hr /><br />
  <p class="article-paragraph">
    In the west, many women lament the tradition of women giving up their names when they marry. The system of passing on male family names is called "patrilinealism" and this is how most societies and cultures function, although there are "matrilineal" exceptions. There are anthropological reasons why most societies are patrilineal rather than matrilineal but in the modern egalitarian world it is understandable why individuals, male and female, should grow attached to their names and want to keep them. 
  </p><br />
  <p class="article-paragraph">
    One solution is hyphenation. This is what my aunt did when she married. Her name is De Vellis-Carino and her students call her by the hip shorthand "Mrs. D-C." However, her children are all named Carino, not De Vellis-Carino. My friend on the other hand inherited both of his parents’ names: Blossmanis-Robinson. His parents retain their own unhyphenated names. A problem remains: what about the next generation? How many hyphens is too many hyphens? If my friend married my cousin, would their name be some hyphenated combination of DeVellis-Carino-Bossmanis-Robinson? If this system was used consistently, the number of last names would double with each generation. This is not practical. In short time we would have entire data-centres full of family names.
  </p><br />
  <p class="article-paragraph">
    Here is an alternative. Suppose Justin King and Eva Queen get married and have a son and a daughter, Jamie and Evelyn. The family name would then become King-Queen, the family would be Justin, Eva, Jamie, and Evelyn King-Queen. When Jamie comes of age, he would take the name of his father, King, and when Evelyn comes of age, she would take the name of her mother, Queen. Thus, if Jamie King-Queen marries Jane Princess, Jamie would become Jamie King-Princess and likewise, if Evelyn King-Queen marries Eduardo Prince, her name would then become Evelyn Prince-Queen. Jamie's n<sup>th</sup> great grandson would retain the name "King" and Evelyn's n<sup>th</sup> great granddaughter would retain the name "Queen." 
  </p>
  <br />
  <figure>
    <img src="/assets/thinkery-naming-system.svg" alt="HTML5" />
    <figcaption>
      Descendancy graph showing two generations under this naming scheme
    </figcaption>
  </figure>
  <br />
  <p class="article-paragraph">
    The first and obvious advantage of this system is that it is egalitarian. Both the husband's and wife's name are used for the family, and when the children come of age they retain either the masculine or the feminine name. Another advantage of this system is that it would allow us to track the lineage of both men and women with ease, instead of just men. A potential disadvantage is that children of single parents would be easily identified, possibly resulting in discrimination. Although this may indeed be an advantage considering the measurement and logistics of welfare support to single mothers.
  </p><br />
  <p class="article-paragraph">
    Overall I think this is a fair and reasonable system that would make for an easy compromise even between the most proudest husband and wife. After all, husbands already accept that their daughters will not retain their names and their sons still get to keep their names. In this arrangement, egos are unassailed, the conflict is avoided and everyone is happy!
  </p>
</article>