@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap');

:root {
	--background: rgba(16, 16, 16, 1);
	--headerbackground: rgba(80, 40, 160, 1);

	--primary: rgba(80,40,160,1);
	--accent: #41658a;
	--background_light: rgba(255, 255, 255, 1);
	--background_dark: rgba(76, 84, 84, 1);
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* TODO fix for specific elements, consider adding 'focusable' class*/
*:focus {
	outline: thin dotted !important;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Source Sans Pro", 400;
	font-weight: 400;
	line-height: 1.5rem;
	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	position: relative;
    min-height: 100vh;
    padding: 1rem;
}

